@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #81a1c1;
    --secondary-color: #2e3440;
    --light-secondary-color: #3b4252;
    --accent-color: #b48ead;
    --accent-color-secondary: #a3be8c;
    --text-color: #eceff4;
    --text-color-secondary: #eceff4;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #3b4252;
}

body {
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
    font-family: var(--font-secondary);
    font-size: 2rem;
}

p, a {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
    text-decoration: none;
}

header {
    background-color: var(--light-secondary-color-color);
    color: var(--text-color);
}

section {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    z-index: 1;
    color: var(--text-color-secondary);
}

#logo {
    display: block;
    width: 64px;
    border-radius: 50%;
}

#logo:hover {
    transform: rotate(360deg);
    /* background-color: #81a1c1;
    padding: .25rem;
    transition: all .5s ease; */
    transition: transform 0.5s ease;
}

nav {
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

nav li:hover {
    transform: scale(1.1);
}

nav li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5em;
}

nav li:not(#logo-container) a {
    padding: .5em 1em;
}

#background-img {
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    filter: blur(10px);
    z-index: 0;
    width: 600px;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

#links .link {
    z-index: 1;
    margin: .5rem;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    background-color: var(--secondary-color);
    /* backdrop-filter: blur(100px); */
}

#links .link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
}

#links .link img {
    width: 50px;
    /* height: 50px; */
    /* border-radius: 50%; */
}

#links .link svg {
    width: 50px;
    fill: var(--primary-color);
}

#links .link p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: 1.5em;
}

#links .link:hover {
    background-color: var(--primary-color);
}

#links .link:hover > a > p {
    color: var(--secondary-color);
}

#links .link:hover > a > svg {
    fill: var(--secondary-color);
}

.releases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* width: 100%; */
}

.release {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 200px;
}

.release.latest {
    width: 350px;
    background-color: rgba(46 52 64 / 75%);
    padding: 1em;
    backdrop-filter: blur(10px);
}

.bar {
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin: .5rem 0;
}

.release-info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.release-title {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 1em;
}

.release-date {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
    font-size: 1em;
    font-style: italic;
}

.release-links {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.release-link img {
    width: 50px;
}

.cover-art {
    width: 100%;
    height: 100%;
    perspective: 2000px;
}

.cover-art:hover img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cover-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateX(0deg), rotateY(0deg);
    transition: transform 1s ease;
}

#about {
    color: var(--text-color-secondary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 1;
}

#about p {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
    font-size: 1.5em;
}

/* release.html */

.individual {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    background-color: rgba(46 52 64 / 75%);
    padding: 1em;
    backdrop-filter: blur(10px);
}

.individual .info {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.individual .title {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 2em;
}

.individual .date {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
    font-size: 1em;
    font-style: italic;
}

.individual .description {
    margin-top: 10px;
    font-size: 1.5em;
}

.individual .links {
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.individual .links img {
    width: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    nav {
        justify-content: center;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
    }

    #logo {
        display: none;
    }

    .all {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .release {
        width: 150px;
    }

    .latest {
        width: 300px;
    }

    .individual {
        display: flex;
        gap: 1rem;
        width: 100%;
        margin: 0;

    }

    .cover-art {
        height: auto;
    }

    .cover-art img {
        height: auto;
    }

    #about {
        margin: 0 auto;
    }

    #links {
      width: 100%;  
    }

    #background-img {
        width: 250px;
    }
}